body{
background-image: url('../img/white_brick_wall.png') ;
} 
.slidesjs-control{


}
.slidesjs-slide{
 background-color: #FFFFFF;
    border: 1px solid rgba(0, 0, 0, 0.2);
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
    padding: 4px;
		max-width: 97%; 
		height: 97%; 
}
